.blog-card {
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.ver-caso-btn {
  border: 2px solid black;
  color: white;
  transition: 0.3s;
}

.ver-caso-btn:hover {
  opacity: 0.9;
  color: #fff;
}
.blog-detail-image {
  width: 290px;          /* ancho pequeño */
  height: 175px;        /* alto pequeño */
  border-radius: 80px;  /* bordes redondeados */
  object-fit: cover;    /* mantiene proporción */
  display: block;       /* centra mejor si se usa con margin */
  margin: 0 auto;       /* centra la imagen horizontalmente */
}


