.card {
  color: white !important;
}

.card .btn {
  background: linear-gradient(145deg, #b3b3b3, #6c757d);
  border: none;
  border-radius: 8px;
  color: #111;
  font-weight: 600;
  transition: all 0.3s ease;
}

.card .btn:hover {
  background: linear-gradient(145deg, #d1d1d1, #7a7a7a);
  color: #000;
  transform: scale(1.05);
}
