#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #101010;
  text-align: center;
  color: #f3f3f3;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #5558);
}
.logo:hover {
  filter: drop-shadow(0 0 3em #fff8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 3em #ccc8);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background: #222;
  color: #f3f3f3;
  border-radius: 0.8em;
  box-shadow: 0 2px 20px #0007;
}

.read-the-docs {
  color: #bbb;
}

a {
  color: #f3f3f3;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #fff;
}

body {
  background: #111;
}
